<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>628207119380-ivil1gtd3cp03lqqitakh0j1k0nf37mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628207119380-ivil1gtd3cp03lqqitakh0j1k0nf37mg</string>
	<key>API_KEY</key>
	<string>AIzaSyDsvi6ds07jJWucrOTEfcVaDbDlu7dYHhU</string>
	<key>GCM_SENDER_ID</key>
	<string>628207119380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Omnify.HackerNews</string>
	<key>PROJECT_ID</key>
	<string>hackernews-27489</string>
	<key>STORAGE_BUCKET</key>
	<string>hackernews-27489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628207119380:ios:ce58bb486c8d4fdd</string>
	<key>DATABASE_URL</key>
	<string>https://hackernews-27489.firebaseio.com</string>
</dict>
</plist>